﻿@{
    Layout = "~/Views/Layouts/BootstrapLayout.cshtml";
}

@section head
{
    @RenderSection("head", required: false)
}

@section styles
{
    @Styles.Render("~/bundles/styles/layout/admin")
    @RenderSection("styles", required: false)
}

@section scripts
{
    @RenderSection("scripts", required: false)
}

@Html.Partial("~/Views/Partial/AdminLayout/AdminMenu.cshtml")

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 main">
            <h3 class="page-header">@ViewBag.Title</h3>

            @RenderBody()
        </div>
    </div>
</div>
