﻿@{
    ViewBag.Title = "Информация для клиентов";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
}

<div class="alert alert-danger alert-dismissable" id="error-msg-container" style="display: none; max-width: 500px">
    <span id="error-msg"></span>
</div>

<div class="panel panel-info" style="max-width: 500px">
    <div class="panel-body">
        <form class="form-signin" role="form">
            <div class="form-group">
                <label class="control-label">Название фирмы или имя</label>
                <input id="CompanyName" class="form-control" placeholder="Введите название или имя" type="text">
            </div>

            <div class="form-group">
                <label class="control-label">Город</label>
                <input class="form-control" type="text" disabled="disabled" value="Казань">
            </div>

            <div class="form-group">
                <label class="control-label">Улица</label>
                <input class="form-control" type="text" disabled="disabled" value="Жуковского">
            </div>

            <div class="form-group">
                <label class="control-label">Номер дома</label>
                <input class="form-control" type="text" disabled="disabled" value="33">
            </div>

            <div class="form-group">
                <label class="control-label">Телефон</label>
                <input class="form-control" type="text" >
            </div>

            <div class="form-group">
                <label class="control-label">Описание</label>
                <textarea class="form-control" rows="3" placeholder="Введите описание"></textarea>
                <p class="help-block">Описание вашей деятельности и любая доп. информация для клиентов</p>
            </div>

            <button class="btn btn-lg btn-success btn-block" type="submit">Изменить</button>
        </form>
    </div>
</div>