﻿@model MakeupStudio.Models.Orders.CreateOrderModel

@{
    ViewBag.Title = "Создание заказа";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/scripts/orders/create")
}

@section styles
{
    @Styles.Render("~/bundles/styles/datepicker")
}

<a href="@Url.Action("UpcomingOrders", "Orders")" class="btn btn-info" style="margin-bottom: 20px;">
    <span class="glyphicon glyphicon-arrow-left"></span> Назад
</a>

<div style="max-width: 500px">
    @Html.Partial("~/Views/Partial/TempData.cshtml")
</div>

<div class="panel panel-default" style="max-width: 500px">
    <div class="panel-body">
        <form role="form">

            <div class="form-group">
                <label>Имя клиента</label>
                <input id="clientName" type="text" class="form-control" value="@Model.ClientName" />
            </div>

            <div class="form-group">
                <label>Телефон клиента</label>
                <input id="clientPhone" type="text" class="form-control" value="@Model.ClientPhone" />
            </div>

            <div class="form-group">
                <label>Дата и время записи</label>
                <div class="input-append date">
                    <input id="appointedTime" readonly="readonly" style="background-color: #ffffff" class="form-control" data-date="@Model.AppointedTime.ToString("O")" type="text">
                    <span class="add-on"><i class="icon-th"></i></span>
                </div>
            </div>

            <div class="form-group">
                <label>Ваш комментарий</label>
                <textarea id="masterComment" rows="3" type="text" class="form-control">@Model.MasterComment</textarea>
                <p class="help-block">Не обязательно к заполнению. Видно только для Вас.</p>
            </div>

            <button href="#" type="button" class="btn btn-success" id="saveBtn">
                <span class="glyphicon glyphicon-ok"></span> Создать
            </button>
        </form>
    </div>
</div>
