﻿@{
    ViewBag.Title = "Создание услуги";
    Layout = "~/Views/Layouts/AdminLayout.cshtml";
}

@section scripts
{
    @Scripts.Render("~/bundles/scripts/works/creatework")
}

<a href="@Url.Action("Index", "Works")" class="btn btn-info" style="margin-bottom: 20px;">
    <span class="glyphicon glyphicon-arrow-left"></span> Назад
</a>

<div style="max-width: 500px">
    @Html.Partial("~/Views/Partial/TempData.cshtml")
</div>

<div class="panel panel-default" style="max-width: 500px">    
    <div class="panel-body">
        <form role="form">

            <div class="form-group">
                <label for="category">Категория</label>
                <select class="form-control selectpicker" id="category" title="Выберите категорию">
                </select>
            </div>

            <div class="form-group">
                <label for="childCategory">Подкатегория</label>
                <select class="form-control selectpicker" id="childCategory" title="Выберите подкатегорию">
                </select>
            </div>

            <div class="form-group">
                <label>Название услуги</label>
                <div class="input-group">
                    <input type="text" id="work-name" class="form-control" placeholder="Выберите название услуги">
                    <div class="input-group-btn">
                        <button id="work-name-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                        <ul class="dropdown-menu pull-right" id="work-name-ddl">
                        </ul>
                    </div>
                </div>
                @*<p class="help-block">Вы можете выбрать название услуги из списка </p>*@
            </div>

            <div class="form-group">
                <label>Стоимость услуги</label>                
                <div class="input-group">
                    <input type="text" id="work-price" class="form-control" placeholder="Введите стоимость услуги">
                    <span class="input-group-addon" id="basic-addon2">руб.</span>
                </div>
                <p class="help-block">Целое число без копеек</p>
            </div>

            <a href="#" type="button" class="btn btn-success" id="saveBtn">
                <span class="glyphicon glyphicon-plus"></span> Добавить услугу
            </a>
        </form>
    </div>
</div>