﻿@model MakeupStudio.Models.Account.RegistrationModel

@{
    ViewBag.Title = "MakeupStudio - регистрация";
    Layout = "~/Views/Layouts/BootstrapLayout.cshtml";
}

@section styles
{
    @Styles.Render("~/bundles/styles/account/login")
}

@section scripts
{
    @Scripts.Render("~/bundles/scripts/account/register")
}

<div class="container">
    @* Панель*@
    <div class="panel panel-info">
        <div class="panel-heading ">
            <h2 class="panel-title">MakeupStudio - регистрация</h2>
        </div>
        <div class="panel-body">
            @Html.Partial("~/Views/Partial/TempData.cshtml")

            <form class="form-signin" role="form" action="@Url.Action("Registration", "Account")" method="POST">
                @Html.AntiForgeryToken()

                <a href="@Url.Action("Login", "Account")" class="btn btn-info" style="margin-bottom: 20px;">
                    <span class="glyphicon glyphicon-arrow-left"></span> Назад
                </a>

                @*Name*@
                <div class="form-group @Html.GetHasErrorsClass(x => x.Name)">
                    <label class="control-label" for="Name">@Html.GetDisplayName(x => x.Name)</label>
                    <input id="Name" name="Name" class="form-control" placeholder="Введите имя" type="text" value="@Model.Name"/>
                    @if (Html.ModelHasErrors(x => x.Name))
                    {
                        <p class="help-block">@Html.GetModelError(x => x.Name)</p>
                    }
                </div>

                @*Email*@
                <div class="form-group @Html.GetHasErrorsClass(x => x.Email)">
                    <label class="control-label" for="Email">@Html.GetDisplayName(x => x.Email)</label>
                    <input id="Email" name="Email" class="form-control" placeholder="Введите Email" type="text" value="@Model.Email"/>
                    @if (Html.ModelHasErrors(x => x.Email))
                    {
                        <p class="help-block">@Html.GetModelError(x => x.Email)</p>
                    }
                </div>

                @*Phone*@
                <div class="form-group @Html.GetHasErrorsClass(x => x.Phone)">
                    <label class="control-label" for="Phone">@Html.GetDisplayName(x => x.Phone)</label>
                    <input id="Phone" name="Phone" class="form-control" placeholder="Введите номер сотового телефона" type="tel" value="@Model.Phone"/>
                    @if (Html.ModelHasErrors(x => x.Phone))
                    {
                        <p class="help-block">@Html.GetModelError(x => x.Phone)</p>
                    }
                </div>

                @*City*@
                <div class="form-group">
                    <label class="control-label" for="City">Город</label>
                    <input class="form-control" id="City" name="City" value="Казань" disabled="disabled" type="text">
                </div>

                @*Street*@
                <div class="form-group @Html.GetHasErrorsClass(x => x.Street)">
                    <label class="control-label" for="Street">@Html.GetDisplayName(x => x.Street)</label>
                    <input id="Street" name="Street" class="form-control" placeholder="Введите улицу" type="text" value="@Model.Street"/>
                    @if (Html.ModelHasErrors(x => x.Street))
                    {
                        <p class="help-block">@Html.GetModelError(x => x.Street)</p>
                    }
                </div>

                @*House*@
                <div class="form-group @Html.GetHasErrorsClass(x => x.House)">
                    <label class="control-label" for="House">@Html.GetDisplayName(x => x.House)</label>
                    <input id="House" name="House" class="form-control" placeholder="Введите номер дома" type="text" value="@Model.House"/>
                    @if (Html.ModelHasErrors(x => x.House))
                    {
                        <p class="help-block">@Html.GetModelError(x => x.House)</p>
                    }
                </div>

                @*Password*@
                <div class="form-group @Html.GetHasErrorsClass(x => x.Password)">
                    <label class="control-label" for="Password">@Html.GetDisplayName(x => x.Password)</label>
                    <input id="Password" name="Password" class="form-control" placeholder="Введите пароль" type="password" value="@Model.Password"/>
                    @if (Html.ModelHasErrors(x => x.Password))
                    {
                        <p class="help-block">@Html.GetModelError(x => x.Password)</p>
                    }
                    else
                    {
                        <p class="help-block">От 8 до 30 символов. Должен содержать цифры и буквы англ. алфавита.</p>
                    }
                </div>

                <button class="btn btn-lg btn-success btn-block" type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>